*{
    margin: 0;
    padding: 0;
    
}
.ppp {
    position: fixed;
    font-size: 200px;
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: red;
    z-index: 1;
    margin-top: 50px;
}

.divv{
    
    background-color: yellow;
    overflow: scroll;
    
    /* padding-top: 50px; */

}